APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=ec9f8f7e83a6d02b93bf8723ff1e9148

# Database

DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=fastfeet

# Mongo

MONGO_URL=

# Redis

REDIS_HOST=127.0.0.1
REDIS_POST=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=

# Sentry

SENTRY_DSN=
